/* YourComponent.css */

.modal-overlay {
    @apply fixed top-0 left-0 w-full h-full flex justify-center items-center z-50;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }
  
  .modal-content {
    @apply bg-white p-8 rounded shadow-md;
  }
  